<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>
<style>
    a{
        cursor: pointer;
        font-size: 20px;
    }
    li{
        list-style-type:none;
    }
    a:hover{
        font-weight: bold;
    }

</style>

<body>
    <div class="bg-primary d-flex align-items-center w-100" style="height: 460px;">
        <ul class="d-flex flex-column">
            <li class="nav-item mx-0 mx-lg-1 pl-3" style="color:#2c3e50; font-size: 20px;">設定選單</li>
            <div class="nav-custom-line" style="transform: translate(20px,8px);"></div>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3"
                    onclick="javascript: location.href='rateSetting'" style="color:#2c3e50 ;">留存率、存活率設定</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3"
                    onclick="javascript: location.href='couponSetting'" style="color:#2c3e50 ;">優惠券設定</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3"
                    onclick="javascript: location.href='pointSetting'" style="color:#2c3e50 ;">累積點數設定</a></li>
        </ul>
    </div>
</body>
<script>
</script>

</html>