<html>

<head>

<body>
    <form method="post" accept-charset="utf-8">
        <title>留存率存活率設定</title>
        <div>
            <label>留存率</label>
            <input type="text" name="keepRate" value="<%=data.keep_rate%>">
            <label>%</label>
        </div>
        <div>
            <label>存活率</label>
            <input type="text" name="surviveRate" value="<%=data.survive_rate%>">
            <label>%</label>
        </div>
        <input type='submit' value='Submit'>
    </form>
</body>
</head>

</html>